body {
    margin: 0;
    padding: 0;
    background-color: black;
    overflow-x: hidden;
}
.header {
    height: 100%;
    width: 100%;
    position: relative;
}

#header-navigation {
    position: relative;
    display: flex;
    align-items: center;
    height: 30vh;

    justify-content: space-between;
    padding: 1rem 2rem;
    background-attachment: fixed;
    /* border:1px solid black; */
}

.logo-img {
    width: 150px;
    height: auto;
}

.nav-tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: black;
}

.left-header {
    padding-left: 6%;
}

#right-header {
    margin-left: auto;
    display: flex;
    flex-direction: row;
}

.navigation {
    padding-right: 50px;
    font-weight: bolder;
}

.menu-icon {
    width: 25px;
    height: 2px;
    background-color: #fff;
    margin: 6px 0;
}

#dropdown {
    display: none;
}

.dropdown-content {
    position: absolute;
    background-color: black;
}

.dropdown-content a {
    color: #fff;
    padding: 20px 30px;
    display: block;
    text-decoration: none;
}

.show {
    display: block;
}

.menu {
    color: #fff;
    text-decoration: none;
}

.menu:hover {
    border-bottom: 2px solid #fff;
}

.dropbtn {
    background: transparent;
    border: 0px;
    cursor: pointer;
}



.main-content{

    width: 96vw;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 50px;
    gap: 20px;    
}


.picture-name{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    padding-bottom: 0px;
    font-size: 16px;
    letter-spacing: 1px;
    
}

.picture-location{
    font-family: 'Roboto', sans-serif;
    color: #777;
    font-weight: bold;
    padding-top: 0px;
    font-size: 16px;
    letter-spacing: 1px;
}

.ourworld-photos{
    height: 70%;
    width: 100%;

    
}















.footer {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    background-color: #161f1e;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.footer-section {
    margin-top: 145px;
}

.footer-logo {
    width: 48px;
    height: 48px;
    margin-left: 220px;
    margin-bottom: 220px;
}

.footer-tag {
    margin-left: 220px;
    margin-bottom: 90px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #fff;
}

.footer-list {
    padding-left: 0px;
}

.footer-links {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    color: #fff;
    margin-bottom: 20px;
    font-size: 17px;
}